.venv

# Ignore all files in these directories but keep the directories themselves
0-queue/*
!0-queue/
!0-queue/.gitkeep

1-audio/*
!1-audio/
!1-audio/.gitkeep

2-audio_processed/*
!2-audio_processed/
!2-audio_processed/.gitkeep

3-output/*
!3-output/
!3-output/.gitkeep

# Ignore environment file with secrets
.env
.vnow

build
dist