# Python junk
__pycache__/
.venv/
.env
.vnow/

# Windows junk
desktop.ini
**/desktop.ini

# Build artifacts
build/
dist/

# Don't track shared transcriptions folders (they're symlinked to GDrive)
1-audio/
1-audio
2-audio_processed/
2-audio_processed
3-output/
3-output
bak/

symlink.bat